/* apply a natural box layout model to all elements, but allowing components to change */
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: $brand_dark;
  font-family: $body_font;
  padding-top: 170px;

  @include respond-to(phone) { padding-top: 50px; }
}