.dd-lightbox {
  position: relative;
  width: 50%;
  margin: 0;

  &:hover {
    .display-title {
      color: $brand_blue;
    }

    .lightbox-content > img {
      filter: grayscale(80);
    }
  }

  @include respond-to(phone) {
    width: 100%;
    margin-top: -4px;
  }

  .close-lightbox-btn {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: $white;
    cursor: default;

    &:hover {
      color: $brand_blue;
    }
  }

  .social-sharing-options {
    display: none;
    position: absolute;
    top: 25px;
    left: 10px;

    a {
      margin: 10px;

      &:hover svg path {
        fill: $brand_blue;
      }
    }
  }

  img {
    width: 100%;
  }

  .display-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 6px 0;
    font-size: 2em;
    //border: 2px solid $white;
    width: 70%;
    display: block;
    margin: 0 15%;
    text-align: center;
    z-index: 9999;
  }

  &.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.9);
    z-index: 9999999;

    .hover-action-indicator {
      display: none;
    }

    &.card-image-holder:hover::after {
      display: none;
    }

    img {
      filter: none;
    }

    //display: flex;
    //justify-content: center;
    //align-items: center;

    .close-lightbox-btn {
      display: block;
    }

    .social-sharing-options {
      display: block;
    }

    img {
      width: auto;
      max-width: 80vw;
      max-height: 85vh;
    }
  }

  .lightbox-title {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.2em;
    text-transform: capitalize;
    color: $white;
    font-family: $sans_serif;
    font-size: 1.5em;
  }

  .lightbox-nav-arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    font-size: 2em;
    cursor: default;

    &:hover {
      color: $brand_blue;
    }
  }

  .dd-next-arrow {
    right: 20px;
  }

  .dd-prev-arrow {
    left: 20px;
  }

  .main-lightbox-gallery {
    //position: relative;
    //min-width: 800px;
    //min-height: 600px;

    img {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 80vw;
      max-height: 85vh;
    }
  }
}

.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(10px);
  opacity: 0;
}