.main-header {
  font-family: $sans_serif;
  box-shadow: 0px 1px 8px rgba(0,0,0,.1);

  @include respond-to(phone) { border-bottom: none; }


  .site-title, .established {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  h1.site-title {
    font-size: 40px;
    margin-top: 20px;

    @include respond-to(phone) {
      font-size: 27px;
      margin-top: 5px;
    }
  }

  p.site-title {
    position: relative;

    @include respond-to(phone) {
      margin-bottom: 15px;
      margin-top: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(50% + 2px);
      left: 0;
      height: 2px;
      background: $brand_dark;
      width: 100vw;
      z-index: -1;
    }
  }

  .established {
    background: $white;
    padding: 0 4px;



    small {
      font-size: 80%;
    }

    &:not(small) {
      font-size: 130%;
    }


  }
}