.home-hero {
  background-image: url(./images/home_wide.jpg);
  background-size: cover;

  &.hero {
    @include respond-to(phone) {
      background-image: url(./images/home_narrow.jpg);
      height: 60vw;
      margin-top: 30px;
    }
  }
}

.page-section.wedding-venue-section {
  padding-top: 0;
  .section-inner {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;

    @include respond-to(phone) {
      flex-direction: column;
    }

    .picture-call-out {
      width: 50%;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      position: relative;

      @include respond-to(phone) {
        width: 100%;

        & > a.action-button {
          position: absolute;
          left: 50%;
          transition: .8s;
          transform: translateX(-50%) scale(1);
          color: $white;
          opacity: 1;
        }
      }

      & > img {
        transition: .8s;
      }

      .action-button {
        transition: .8s;
      }



      &:hover {
        p, .action-button {
          transform: translateX(-50%) scale(1);
          opacity: 1;
        }

        .action-button:hover {
          transform: translateX(-50%) scale(1.05);
          color: $brand_blue;
        }

        img {
          filter: brightness(50%);
        }
      }

      & > p, & > .action-button {
        position: absolute;
        left: 50%;
        transition: .8s;
        transition-delay: .4s;
        transform: translateX(-50%) scale(1);
        color: $white;
        opacity: 0;
      }

      & > p {
        top: 70%;
      }

      & > .action-button {
        top: 30%;
      }
    }
  }

}

.location-section {
  .map-image {
    display: block;
    max-width: 100%;
    width: 600px;
    margin: 50px auto;
    border: 1px solid $brand_lightgrey;
  }

  .directions-outer {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include respond-to(phone) {
      flex-direction: column;
    }

    .direction-column {
      width: 49%;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      padding: 0 50px;

      @include respond-to(phone) {
        width: 100%;
      }

      p {
        text-align: center;
        font-size: 80%;
        line-height: 1.6;
      }
    }
  }
}

.gallery-section {
  height: 600px;
  background: url(./images/gallery_bg.jpeg);
  background-size: cover;
  background-position-y: 60%;
  display: flex;
  align-items: center;
  justify-content: center;

  .action-button {
    transition: .4s;
  }

  .action-button:hover {
    background: $white;
    color: $brand_dark;
    border-color: transparent;
  }
}