.gallery {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;

  @include respond-to(phone) {
    flex-direction: column;
  }

}

.gallery-page-section {
  padding-bottom: 0;
  margin-bottom: -5px;
}